.idea
.vscode
*.o
*.so
*.dll
*.lock
*-tmp.*
*.nb.html
Tutorial.html
.Rbuildignore
extendr-wrappers.R
settings.json
man
docs
src-i386
src-x64
target
codes.txt
.Rproj.user
*.Rproj
.Rhistory
NAMESPACE
kill-r.bat
/gcatase.iml
